---
import Layout from "../layouts/Layout.astro";
---

<Layout title="关于">
  <h1>关于</h1>
  <div>
    <p>更多内容请联系——Wechat：Qiao16606746911</p>
    <img src="../static/images/ewm.jpg" alt="" />
  </div>
</Layout>

<style>
  h1 {
    font-size: 2em;
    text-align: center;
    color: #87ceeb;
  }
  div {
    text-align: center;
  }
  img {
    width: 50%;
  }
</style>
