---
import Layout from "../layouts/Layout.astro";
import Photograph from "../components/Photograph.astro";
---

<Layout title="人设图">
    <h1 style="font-size: 2em;">欢迎来到你推耽美人物人设图定制管家</h1>
    <ul>
        <Photograph
            title="伪装学渣"
            body="伪装学渣人设图"
            href="/details/伪装学渣"
            img="../static/images/伪装学渣/封面.jpg"
        />
        <Photograph
            title="撒野"
            body="撒野人设图"
            href="/details/撒野"
            img="../static/images/撒野/封面.jpg"
        />
        <Photograph
            title="魔道祖师"
            body="魔道祖师人设图"
            href="/details/魔道祖师"
            img="../static/images/魔道祖师/封面.jpg"
        />
        <Photograph
            title="默读"
            body="默读人设图"
            href="/details/默读"
            img="../static/images/默读/封面.jpg"
        />
        <Photograph
            title="某某"
            body="某某人设图"
            href="/details/某某"
            img="../static/images/某某/封面.jpg"
        />
        <Photograph
            title="杀破狼"
            body="杀破狼人设图"
            href="/details/杀破狼"
            img="../static/images/杀破狼/封面.jpg"
        />
        <Photograph
            title="天官赐福"
            body="天官赐福人设图"
            href="/details/天官赐福"
            img="../static/images/天官赐福/封面.jpg"
        />
        <Photograph
            title="小蘑菇"
            body="小蘑菇人设图"
            href="/details/小蘑菇"
            img="../static/images/小蘑菇/封面.jpg"
        />
    </ul>
</Layout>
<style>
    h1 {
        font-size: 2em;
        text-align: center;
        color: #87ceeb;
    }
</style>
