---
import Layout from "../layouts/Layout.astro";
---

<Layout title="首页">
  <h1>首页</h1>
  <p>
    你可以教孩子防备陌生人，提高警惕，但是不能让她怕穿碎花裙子，不然要我们干什么用的？—priest《默读》
  </p>
  <p>
    倘若天下安乐，我等愿渔樵耕读，江湖浪迹；倘若盛世将倾，深渊在侧，我辈当万死以赴。——priest《杀破狼》
  </p>
  <p>未知苦处，不信神佛。 ——priest《杀破狼》</p>
  <p>同性恋敬健康和自由。——priest《过门》</p>
  <p>未知全貌，不予置评。 ——墨香铜臭《魔道祖师》</p>
  <p>是非在己，毁誉由人，得失不论。——墨香铜臭《魔道祖师》</p>
  <p>非是局中人，莫论是与非。 —墨香铜臭《天官赐福》</p>
  <p>
    我愿供灯千盏，照彻长夜，即便飞蛾扑火，也无所畏惧。但我不愿因为做了对的事情而低头。——墨香铜臭《天官赐福》
  </p>
  <p>
    没有谁的生活会一直完美，但无论什么时候，都要看向前方，满怀希望就会所向披靡。——巫哲《撒野》
  </p>
  <p>输了不丢人，不敢去赢才丢人。在我眼里，认命最丢人。 ——漫漫何其多《AWM》</p>
  <p>
    正常人?正常人的范畴到底是什么?我们生来是为了成为自己，而不是所谓的正常人
    ——《我只喜欢你的人设》
  </p>
  <p>
    然而感情这东西，是一颗种子。哪怕被压在千斤巨石下，也会寻到空隙破土发芽，他无法欺骗自己，无法视而不见。
    ——《顶级掠食者》
  </p>
  <p>
    其实，每个人都有害怕的东西，你不用逼迫自己一定要做到无所畏惧。没有人可以无所畏惧。你怕火没什么。——《火焰我装》
  </p>
  <p>
    暗恋就像一壶烈酒。明知道灌下去要晕眩、失态、痛苦也让人飞蛾扑火、甘之如饴。你点到即止，我一醉方休，可但凡醉酒，总有醒的一天。——《一醉经年》
  </p>
  <p>
    如果时间是治愈一切的良药，那么他服用的剂量显然还远远不够。——《职业替身》
  </p>
  <p>
    人生重要的是抉择。尤其是面对挫折和逆境的时候要能够正视自己，看清方向，做出正确的抉择。——《娘娘腔》
  </p>
  <p>他的心跟荒漠一样，早晚有一天，他的灵魂都会跟着沙化。——《职业替身》</p>
</Layout>
<style>
  h1 {
    font-size: 2em;
    text-align: center;
    color: #87ceeb;
  }
</style>
