<nav>
    <a href="/">首页</a>
    <a href="/designDiagram/">人设图</a>
    <a href="/blogs/">博客</a>
    <a href="/about/">关于</a>
</nav>
<style>
    nav {
        margin: 2em;
    }
    a {
        font-size: 18px;
        color: #87ceeb;
        margin-left: 2em;
        padding: 1em;
        text-decoration: none;
        border-radius: 8px;
        transition: all 0.3s;
    }
    a:hover {
        background-color: #87ceeb;
        color: #fff;
    }
</style>
